{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secretaría de la Mujer</title>
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
</head>

<body>

    <div class="empowerment-and-support-for-women-home">
            <div class="bubble-container">
                <div class="brand">
                    <div class="brand-name">Secretaría de la Mujer</div>
                </div>
            </div>
        </div>

        <div class="type-three-feature-cards-horizontal">
            <div class="content">
                <div class="heading-container">
                    <div class="heading">Conoce nuestros servicios </div>
                    <div class="subheading">Iniciativas para el Bienestar Femenino</div>
                </div>
                <div class="cards-grid">
                    {% for boton in botones %}
                        <div class="big-card">
                            <div class="content2">
                                <div class="content-container">
                                    <div class="subheading2">{{ boton.nombre }}</div>
                                    <div class="content3">
                                        <div class="heading2">{{ boton.mensaje }}.</div>
                                    </div>
                                    <img class="image-lummi" src="{% static boton.imgBoton %}" alt="Imagen del producto">

                                </div>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <button type="button" 
                                                onclick="window.location.href='https://wa.me/{{ boton.numero }}'">
                                                {{ boton.nombre }}
                                            </button>
                                        </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

</body>

</html>

