{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Estás Sola</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <link rel="icon" href="{% static 'img/logoalcaldia.ico' %}" type="image/x-icon">
    <style>
        body::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("{% static 'img/fondo.png' %}");
            background-size: cover;
            background-position: center;
            z-index: -1;
        }
    </style>
</head>

<body>

    <div class="desktop-1">
        {% for boton in botones %}
        <div class="button-group">
            <div class="icon-button-container">
                <div class="icon-container">
                    <img src="{% static boton.imgBoton %}" alt="{{ boton.nombre }}" class="icon" />
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <button class="button" type="button" onclick="window.location.href='https://wa.me/{{ boton.numero }}'">
                        <span class="button2">{{ boton.nombre }}</span>
                    </button>
                </form>
            </div>
            <div class="description">
                {% if boton.nombre == "Línea púrpura" %}
                (Línea de acompañamiento psicosocial y jurídico)
                {% elif boton.nombre == "Patrulla púrpura" %}
                (Cuadrante de la Policía Nacional especializado en violencia basada en género.)
                {% elif boton.nombre == "Taxi púrpura" %}
                (Siéntete segura viajando en nuestros taxis<br>intermunicipales, especializados en transportar mujeres.)
                {% else %}
                {{ boton.descripcion }}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>