{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Estás Sola</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <link rel="icon" href="{% static 'img/logoalcaldia.ico' %}" type="image/x-icon">
</head>

<body>
    <div class="desktop-1">
        <div class="button-group">
            <div class="icon-button-container">
                <div class="icon-container">
                    <img src="{% static 'img/whatsapp.png' %}" alt="Linea púrpura" class="icon" />
                </div>
                <form method="POST" id="form-Linea púrpura" class="form-boton">
                    {% csrf_token %}
                    <input type="hidden" name="boton" value="Linea púrpura">
                    <button class="button" type="button" onclick="redirigirWhatsApp('3026032386', event)">
                        <span class="button2">Linea púrpura</span>
                    </button>
                </form>
            </div>
            <div class="description">
                (Línea de acompañamiento psicosocial y jurídico)
            </div>
        </div>

        <div class="button-group">
            <div class="icon-button-container">
                <div class="icon-container">
                    <img src="{% static 'img/sirena.png' %}" alt="Patrulla púrpura" class="icon" />
                </div>
                <button class="button" type="button" onclick="abrirModalPatrulla('Patrulla púrpura')">
                    <span class="button2">Patrulla púrpura</span>
                </button>
            </div>
            <div class="description">
                (Cuadrante de la Policía Nacional especializado en violencia basada en género.)
            </div>
        </div>

        <div class="button-group">
            <div class="icon-button-container">
                <div class="icon-container">
                    <img src="{% static 'img/taxi.png' %}" alt="Taxi púrpura" class="icon" />
                </div>
                <button class="button" type="button" onclick="abrirModal('Taxi púrpura')">
                    <span class="button2">Taxi púrpura</span>
                </button>
            </div>
            <div class="description">
                (Siéntete segura viajando en nuestros taxis<br>intermunicipales, especializados en transportar mujeres.)
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="modal-taxi" class="modal-overlay" style="display: none;">
        <div class="modal-taxi">
            <form method="POST" id="form-Linea púrpura" class="form-boton">
                {% csrf_token %}
                <h2>Selecciona una opción</h2>
                <input type="hidden" name="boton" value="Taxi púrpura">
                <button class="button" style="margin: 5px;" type="button" onclick="redirigirWhatsApp('3044440037', event)">Flota Cabal</button>
                <button class="button" style="margin: 5px;" type="button" onclick="redirigirWhatsApp('3175726162', event)">Transporte Guadalajara</button>
                <button class="button" style="margin: 5px;" type="button" onclick="redirigirWhatsApp('3176615489', event)">Unitax</button>
            </form>
            <button class="close-modal" onclick="cerrarModal()">Cerrar</button>
        </div>
    </div>

    <!-- Modal Patrulla -->
    <div id="modal-patrulla" class="modal-overlay" style="display: none;">
        <div class="modal-patrulla">
            <form method="POST" id="form-Linea púrpura" class="form-boton">
                {% csrf_token %}
                <h2>Selecciona una opción</h2>
                <input type="hidden" name="boton" value="Patrulla púrpura">
                <button class="button" style="margin: 5px;" type="button" onclick="redirigirWhatsApp('3132154457', event)">Patrulla púrpura</button>
                <button class="button" style="margin: 5px;" type="button" onclick="redirigirWhatsApp('3132154457', event)">Numeros cuadrantes</button>
            </form>
            <button class="close-modal" onclick="cerrarModalPatrulla()">Cerrar</button>
        </div>
    </div>
    
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>
